html, body {
      min-height: 100%;
      }


body, div, form, input, select { 
padding: 0;
margin: 0;
outline: none;
font-family: Roboto, Arial, sans-serif;
font-size: 14px;
color: #666;
line-height: 22px;
}

h1, h4 {
margin: 15px 0 4px;
font-weight: 400;
}

h4 {
margin: 20px 0 4px;
font-weight: 400;
}

.small {
font-size: 10px;
line-height: 18px;
}

.data {
display: flex;
justify-content: center;
align-items: center;
height: inherit;
padding: 3px;
}

form {
width: 100%;
padding: 20px;
background: #fff;
box-shadow: 0 2px 5px #ccc; 
}

input {
width: calc(100% - 10px);
padding: 5px;
border: 1px solid #ccc;
border-radius: 3px;
vertical-align: middle;
}

input:hover, textarea:hover, select:hover {
outline: none;
border: 1px solid #095484;
background: #e6eef7;
}

.title-block select, .title-block input {
margin-bottom: 10px;
}

select {
padding: 7px 0;
border-radius: 3px;
border: 1px solid #ccc;
background: transparent;
}

select, table {
width: 100%;
}

option {
background: #fff;
}


.sidebar {
  padding: 0;
  background-color: #f1f1f1;
  position: relative;
  width: 200px;
  height: 100%;
  margin: 0;

}

.sidebar a:hover:not(.active) {
  color: white;
  background-color: #555;
}

div.content {
  margin-left: 200px;
  padding: 1px 16px;
  height: 1000px;
}

.cent {
  display: block;
  margin-left: auto;
  margin-right: auto;
}


.first-col {
width: 25%;
text-align: left;
}
textarea {
width: calc(100% - 6px);
}
.btn-block {
margin-top: 20px;
text-align: center;
}
button {
width: 150px;
padding: 10px;
border: none;
-webkit-border-radius: 5px; 
-moz-border-radius: 5px; 
border-radius: 5px; 
background-color: #095484;
font-size: 16px;
color: #fff;
cursor: pointer;
}
button:hover {
background-color: #0666a3;
}
